// Colors
$color-white: #fff;
$color-black-text: #1c1c1e;
$color-blue: #185abc;
$color-grey: #ccc;
$color-red: #ee2424;

// Device
$desktop-width-lg: 1440px;
$desktop-width-min: 1120px;
$desktop-width-max: 1439px;
$tablet-width-min: 768px;
$tablet-width-max: 1119px;
$mobile-width-min: 320px;
$mobile-width-max: 767px;
