@import 'styles/helpers/variables';

.book {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  box-shadow: (0 20px 40px rgba(135 124 202 / 25%));
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
    padding: 10px;
  }
}

.img {
  width: 192px;
  height: 300px;
  border: 2px solid $color-grey;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.noImage {
  height: 100%;
  font-size: 16px;
  color: $color-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.description {
  font-size: 16px;
  margin: 0;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: auto;
}

.button {
  width: 35px;
  height: 35px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 2px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.liked {
  opacity: 1;
  fill: $color-blue;
}

.delete {
  &:hover {
    svg {
      fill: $color-red;
    }
  }
}
